@import 'node_modules/bootstrap/scss/bootstrap';

$text-color: #563d7c;
$text-color-light: #3e2c5a;
$bg-color: #563d7c;
$bg-color-light: #443062;
$border-color: #563d7c;
$border-color-light: #3e2c5a;
$box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
